
/*--------------------------------- PARTIE TITRE ---------------------------------*/

h1{
    text-align: center;
}
/*--------------------------------- PARTIE JOUEUR 1 ---------------------------------*/
#block1{
    display: flex;
    flex-direction: column;
}

#block1 h2{
    text-align: center;
}

#pierrej1{
    margin-bottom: 2%;
    margin-left: 2%;
}

#feuillej1{
    margin-bottom: 2%;
    margin-left: 2%;
}

#ciseauxj1{
    margin-bottom: 2%;
    margin-left: 2%;
}

/*--------------------------------- PARTIE ORDINATEUR ---------------------------------*/

#block3{
    display: flex;
    flex-direction: column;
}

#block3 h2{
    text-align: center;
}

#pierreordi{
    margin-bottom: 2%;
    margin-right: 2%;
}

#feuilleordi{
    margin-bottom: 2%;
    margin-right: 2%;
}

#ciseauxordi{
    margin-bottom: 2%;
    margin-right: 2%;
}

/*--------------------------------- allignement général des parties ---------------------------------*/

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------------------------------- PARTIE DEPOT ---------------------------------*/

#block2 h2{
    text-align: center;
}

#shifumi {
    display: flex;
    flex-direction: row;
    margin-top: 57%;
}


#shifumij1 {
    width: 200px;
    height: 200px;
    border: solid;
    margin-right: 50px;
}

#shifumiordi {
    width: 200px;
    height: 200px;
    border: solid;
}