
body{
    background-image: url("../img/playgrounds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Indie Flower', cursive;
}

/*--------------------------------- PARTIE TITRE ---------------------------------*/

#logo{
    display: block;
    margin : auto;
    width: 7%;
    height: auto;
}
/*--------------------------------- PARTIE JOUEUR 1 ---------------------------------*/
#block1{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

#block1 h2{
    text-align: center;
}

#pierrej1{
    margin-bottom: 2%;
    margin-left: 2%;
}

#feuillej1{
    margin-bottom: 2%;
    margin-left: 2%;
}

#ciseauxj1{
    margin-bottom: 2%;
    margin-left: 2%;
}

/*--------------------------------- PARTIE ORDINATEUR ---------------------------------*/

#block3{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
}

#block3 h2{
    text-align: center;
}

#pierreordi{
    margin-bottom: 2%;
    margin-right: 2%;
}

#feuilleordi{
    margin-bottom: 2%;
    margin-right: 2%;
}

#ciseauxordi{
    margin-bottom: 2%;
    margin-right: 2%;
}

/*--------------------------------- allignement général des parties ---------------------------------*/

#row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------------------------------- PARTIE SHIFUMI ET SCORE ---------------------------------*/

#block2 h1{
    text-align: center;
}

#block2 h2{
    text-align: center;
}

#block2 input{
    display: block;
    margin : auto;
    padding: 3%;
    font-size: larger;
    border-radius: 10%;
    border-style: none;
    background-color: #47443f;
    color: white;
    font-family: 'Indie Flower', cursive;
}


#shifumi {
    display: flex;
    flex-direction: row;
    margin-top: 30%;
}


#shifumij1 {
    width: 200px;
    height: 200px;
    border: solid;
    margin-right: 50px;
    border-radius: 30%;
}

#shifumiordi {
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 30%;
}

/*--------------------------------- PARTIE DESIGN PHOTO ---------------------------------*/


#block1 img{
    border-radius: 30%;
}

#block3 img{
    border-radius: 30%;
}
